/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */
  .display-flex{
    display: flex;
  }
  .button{
    color: white;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
  }
  .orange{
    color: orange;
  }
  .sky-blue{
    color: #01ACFD;
  }
  /* Nav-Related*/
  .nav-div{
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
  }
  .logo-name{
    align-items: center;
  }
  .logo-div{
    margin-right: 11px;
  }
  .name{
      font-weight: 700;
      font-size: 2rem;
  }
  .links{
    justify-content: space-between;
    gap: 32px;
  }
  .p{
    font-weight: 500;
    font-size: 1.2rem;
  }
  #home{
    font-weight: 700;
    color: orange;
  }
  #about{
    color: #01ACFD;
  }
  #facilities{
    color: #05D4DF;
  }
  #admission{
    color: #5D58EF;
  }
  .contact-btn{
    background-color: orange;
  }
  /* banner-related */
  .banner{
    justify-content: space-between;
    margin: 0 140px;
  }
  .banner-text-container{
    margin: 122px 50px 122px 0;
  }
  .banner-bold-text{
    font-size: 3.5rem;
  }
  .slogan{
    font-weight: 400;
    font-size: 1.3rem;
  }
  .enroll{
    background-color: black;
  }